<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
  xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<head>
  <vtex:metaTags />
  <meta name="controller" content="Home" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta name="format-detection" content="telephone=no" />
  <vtex:template id="EURO-styles" />

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="/arquivos/html5shiv.min.js"></script>
    <script src="/arquivos/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <!-- START - Subtemplate Header -->
  <vtex:template id="EURO-header" />
  <!-- END - Subtemplate Header -->

  <!-- START - Miolo da página -->
  <main class="main" id="main">

    <!-- Full banner -->
    <section class="loja__virtual">
        <div class="loja__virtual__banner">
            <vtex:contentPlaceHolder id="Banner" />
        </div>
        <div class="loja__virtual__content">
            <vtex:contentPlaceHolder id="Banner__text" />
        </div>
    </section>
    <!-- End Full banner -->

  </main>
  <!-- END - Miolo da página -->

  <!-- Footer -->
  <vtex:template id="EURO-footer" />
  
  <vtex:template id="EURO-scripts" />
  <script src="/arquivos/Euro-2021-enhancedCounter.js"></script>
  
  
  <!-- Footer -->
</body>

</html>