<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
  xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<head>
  <vtex:metaTags />
  <meta name="controller" content="Institutional" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta name="format-detection" content="telephone=no" />
  <vtex:template id="EURO-styles" />

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="/arquivos/html5shiv.min.js"></script>
    <script src="/arquivos/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <!-- START - Subtemplate Header -->
  <vtex:template id="EURO-header" />
  <!-- END - Subtemplate Header -->

  <!-- START - Miolo da página -->
  <main class="main" id="main">

    <!-- Institucional title -->
    <section class="institutional__title">
      <div class="container">
        <div class="institutional__title--wrapper">
          <h2>Informações</h2>
        </div>
      </div>
    </section>
    <!-- END Institucional title -->
    <!-- Institucional menu info -->
    <section class="institutional__menu">
      <div class="container">
        <ul>
          <li>
            <a href="/institucional/nossas-lojas"> Nossas Lojas</a>
          </li>
          <li>
            <a href="/institucional/politica-de-privacidade"> Política de Privacidade</a>
          </li>
          <li>
            <a href="/institucional/seja-um-franqueado"> Seja um Franqueado</a>
          </li>
          <li>
            <a href="/institucional/termos-e-condicoes"> Termos e Condições</a>
          </li>
          <li>
            <a href="/institucional/descarte-colchao"> Como Descartar seu Colchão?</a>
          </li>
          <li>
            <a href="/institucional/trocas-e-devolucoes"> Trocas e Devoluções</a>
          </li>
        </ul>
      </div>
    </section>
    <section class="institutional__menu-mobile">
      <div class="container">
        <vtex:contentPlaceHolder id="menu-mobile" />
      </div>
    </section>
    <!-- Institucional content -->
    <section class="institutional__content">
      <div class="container">

        <div class="institutional__content--wrapper">

          <!-- Menu lateral -->

          <div class="institutional__cms">
            <div class="institutional__lojas">
              <h2>Nossas Lojas</h2>
              <h3>Encontre a Euro Colchões mais perto de você.</h3>
                <div class="institutional__lojas-select">
                    <h3>Qual a sua localização?</h3>
                    <select class="institutional__lojas-state" id="state_new" name="state_new">
                      <option class="lojas-loading-new" value="Carregando">Carregando...</option>
                      <option id="lojas-selecione" value="Selecione seu estado">Selecione seu estado</option>
                    </select>

                    <select class="institutional__lojas-city" id="city_new" name="city_new">
                        <option class="lojas-loading-new" value="Carregando">Carregando...</option>
                        <option id="lojas-selecione" value="Selecione sua Cidade">Selecione sua Cidade</option>
                    </select>

                    <button class="institutional__lojas-btn">Buscar</button>
                </div>

                <h2 class="institutional__lojas-resultTitle">Resultados encontrados:</h2>
              <ul class="institutional__lojas-result_new"></ul>
            </div>
            <div class="institutional__lojas-view-new" id="map">
              
            </div>
          </div>

          <!-- END Menu lateral -->
        </div>
      </div>

    </section>
    <!-- END Institucional content -->


  </main>
  <!-- END - Miolo da página -->

  <!-- Popup -->
  <div class="ecn-lightbox">
    <div class="ecn-lightbox--wrapper ecn-lightbox--wrapper--institutional">
      <div class="ecn-lightbox--content">
        <div class="ecn-lightbox--content--wrapper">
          
          <div class="ecn-lightbox--content--wrapper">
            <a class="ecn-lightbox--content--close" aria-label="Fechar" href="javascript:void(0)">x</a>
            <div class="ecn-lightbox--content--body">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END Popup -->
  <!-- Footer -->
  <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAw6BSppwX9ZaMv54fQYrG7hElzfOGUjkU" async=""></script>-->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrXqoLw_n9FNZYOa-6xMcQ_AlA30xexbk" async=""></script>
  <vtex:template id="EURO-footer" />
  <vtex:template id="EURO-scripts" />
  <!-- Footer -->
</body>

</html>