body {
  .container-main {
    margin: 20px auto 220px;

    & > h1 {
      display: none!important;
      text-align: center;
      margin-bottom: 16px;
      font-family: $font_family;
      color: $blue-theme;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 400;

      &#cart-title {
       
        font-size: 0;
        padding: 0 8.333%;
        text-align: left;
        font-family: $font_family;
        &:before {
          content: "Carrinho";
          @include rem('font-size', 20px);
          font-weight: bold;
          text-transform: initial;
        }
        &:after {
          content: "";
          display: inline-block;
          background: use-svg(icon-cart, $blue-theme) no-repeat center center;
          width: 19.32px;
          height: 16.25px;
          margin-left: 7px;
        }
      }
    }
  }

  .fake-title {
    background: #f3f3f3;
    padding: 35px 0;
    text-align: center;
    margin-bottom: 60px;
    span {
      color: #9a9a9a;
      @include rem("font-size", 18px);
      font-family: $font_family;
      font-weight: bold;
    }
  }

  &.body-cart {
    .fake-title {
      display: none;
    }
    #cart-title {
      display: block !important;
    }
  }
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;

    .container-main {
      margin: 30px 0;
      padding: 0 15px !important;
      & > h1 {
        font-size: 16px;
      }

      .summary-template-holder .summary .coupon,
      .summary-template-holder .summary .shipping {
        width: 100%;
      }
      .summary-template-holder .summary-totalizers .accordion-group {
        width: 100%;
      }
      .cart-links-bottom .link-choose-more-products-wrapper {
        width: 100%;
      }
      .cart-links-bottom .link-choose-more-products-wrapper .link-choose-more-products {
        width: 100%;
      }
      .cart-links-bottom .btn-place-order-wrapper,
      .cart-links-bottom .btn-place-order-wrapper a {
        width: 100%;
      }
    }
  }
}
