.login {
  background: $white;


  #vtexIdUI-global-loader {
    background-color: transparent !important;
    background-image: url("/arquivos/background-login.jpg") !important;
    background-size: cover !important;
    background-position: center center !important;
    opacity: 1!important;
  }


}
