.helpers {
    width: auto;
    position: fixed;
    bottom: 10%;
    right: 10px;
    z-index: 999999;
    width: 270px;

    @media (max-width: 992px) {  
        width: 270px;
    }


    &__content {
        

        &-item {

            margin-bottom: 13px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            position: relative;

            .box {
                text-decoration: none;
                font-family: $font_family;
                font-weight: 500;
                background-color: $blue-theme-light-300;
                border-radius: 60px;
                color: $white;
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                padding-right: 5px;
                @include rem("font-size", 13px);
                box-shadow: 0 0 7px 0 rgba($black, 0.23);
                padding: 4px 5px;
                padding-left: 14px;
                justify-content: space-between;
                min-width: 234px;
                margin-right: 6px;
                margin-bottom: 6px;

                @media (max-width: 992px) {  
                    padding: 0;
                    display: block;
                    height: auto;
                    min-width: 0;
                }

                p {
                    margin-right: 17px;

                    @media (max-width: 992px) { 
                        display: none;
                    }
                }


            }

            .icon {
                width: 44.433px;
                height: 44.433px;
                display: block;
                background-repeat: no-repeat;
                box-shadow: 0 0 16px 0px #000000;
                border-radius: 38px;
                background-size: contain;

                &.whatsapp {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='59.433' height='59.43' viewBox='0 0 59.433 59.43'%3E%3Cg id='Grupo_21' data-name='Grupo 21' transform='translate(-444.26 -129.726)'%3E%3Cg id='Grupo_2' data-name='Grupo 2'%3E%3Cpath id='Caminho_9' data-name='Caminho 9' d='M503.693,159.44a29.716,29.716,0,1,1-29.716-29.714,29.716,29.716,0,0,1,29.716,29.714Z' fill='%234eab4c'/%3E%3C/g%3E%3Cpath id='Caminho_10' data-name='Caminho 10' d='M466.494,170.768l.586.349a13.891,13.891,0,1,0-4.752-4.709l.359.589-1.383,5.162,5.19-1.391Zm-9.754,5.951,2.479-9.242a17.1,17.1,0,1,1,6.813,6.755l-9.292,2.487Z' fill='%23fff'/%3E%3Cpath id='Caminho_11' data-name='Caminho 11' d='M480.495,161.6a2.866,2.866,0,0,0-2.444-.551c-.635.26-1.041,1.253-1.451,1.761a.607.607,0,0,1-.788.171,11.064,11.064,0,0,1-5.525-4.733.677.677,0,0,1,.085-.925,3.752,3.752,0,0,0,1.005-1.629,3.581,3.581,0,0,0-.45-1.93,4.562,4.562,0,0,0-1.423-2.146,1.952,1.952,0,0,0-2.119.315,4.305,4.305,0,0,0-1.492,3.408,4.741,4.741,0,0,0,.134,1.082,8.946,8.946,0,0,0,1.038,2.39,18.906,18.906,0,0,0,1.082,1.647,16.733,16.733,0,0,0,4.7,4.362,14.215,14.215,0,0,0,2.928,1.393,6.509,6.509,0,0,0,3.411.539,4.132,4.132,0,0,0,3.092-2.3,1.986,1.986,0,0,0,.143-1.173c-.177-.809-1.271-1.289-1.925-1.68Z' fill='%23fff' fill-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E%0A");                
                } 


                &.chat {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='59.434' height='59.43' viewBox='0 0 59.434 59.43'%3E%3Cg id='Grupo_22' data-name='Grupo 22' transform='translate(-429.27 -213.013)'%3E%3Cg id='Grupo_6' data-name='Grupo 6'%3E%3Cpath id='Caminho_12' data-name='Caminho 12' d='M488.7,242.727a29.717,29.717,0,1,1-29.717-29.714A29.716,29.716,0,0,1,488.7,242.727Z' fill='%23fff'/%3E%3C/g%3E%3Cg id='Grupo_8' data-name='Grupo 8'%3E%3Cg id='Grupo_7' data-name='Grupo 7'%3E%3Cpath id='Caminho_13' data-name='Caminho 13' d='M472.874,253.059a10.969,10.969,0,0,0-2.223-13.468c.012.226.034.448.034.677a13.044,13.044,0,0,1-17.338,12.355,10.995,10.995,0,0,0,15.12,4.8l6.009,1.608Z' fill='%236e7875'/%3E%3Cpath id='Caminho_14' data-name='Caminho 14' d='M469.886,238.825a13.073,13.073,0,1,0-24.487,7l-1.9,7.082,7.121-1.9a13.115,13.115,0,0,0,1.958.857,12.949,12.949,0,0,0,4.26.728,13.1,13.1,0,0,0,13.08-13.082C469.919,239.273,469.9,239.05,469.886,238.825Z' fill='%236e7875'/%3E%3C/g%3E%3Ctext id='_' data-name='%3F' transform='translate(453.198 245.65)' fill='%23fff' stroke='%23fff' stroke-miterlimit='10' stroke-width='1' font-size='16.597' font-family='SegoeUI, Segoe UI'%3E%3Ctspan x='0' y='0'%3E%3F%3C/tspan%3E%3C/text%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");

                }

                &.order {
    
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='59.433' height='59.43' viewBox='0 0 59.433 59.43'%3E%3Cg id='Grupo_20' data-name='Grupo 20' transform='translate(-430.631 -306.717)'%3E%3Cg id='Grupo_12' data-name='Grupo 12'%3E%3Cg id='Grupo_11' data-name='Grupo 11'%3E%3Cpath id='Caminho_15' data-name='Caminho 15' d='M490.064,336.432a29.716,29.716,0,1,1-29.716-29.715,29.715,29.715,0,0,1,29.716,29.715Z' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3Cg id='Grupo_13' data-name='Grupo 13'%3E%3Cpath id='Caminho_16' data-name='Caminho 16' d='M474.7,347.167a1,1,0,0,1-1.672-.734.957.957,0,0,1,.017-.18,1,1,0,0,1,1.961,0,.955.955,0,0,1,.017.18,1,1,0,0,1-.323.734Zm-.675-4.076a3.341,3.341,0,1,0,3.342,3.342,3.341,3.341,0,0,0-3.342-3.342Z' fill='%231a1818'/%3E%3Cpath id='Caminho_17' data-name='Caminho 17' d='M448.312,347.167a1,1,0,0,1-1.671-.734.957.957,0,0,1,.017-.18,1.011,1.011,0,0,1,.162-.389,1,1,0,0,1,1.8.389.957.957,0,0,1,.018.18.991.991,0,0,1-.324.734Zm-.666-4.076h-.015a3.341,3.341,0,0,0-3.284,2.773,3.246,3.246,0,0,0-.05.569,3.341,3.341,0,1,0,3.349-3.342Z' fill='%231a1818'/%3E%3Cpath id='Caminho_18' data-name='Caminho 18' d='M480.782,344.241c-.864.03-1.743.03-2.609.014-.014-.522-.014-1.027,0-1.549.866-.016,1.729-.016,2.594,0,.029.522.029,1.027.015,1.535Zm-7.982-6.1c-.014-1.485-.042-2.967.014-4.45.994,0,2-.013,2.995.028.391,1.469.867,2.926,1.258,4.406-1.426.029-2.84.016-4.267.016Zm8.142,5.988c-.013-1.526.833-3.7-.027-4.563s-.979-.445-1.468-.673q-.514-.239-1.022-.487a1.157,1.157,0,0,1-.128-.06c-.694-.373-.672-1.307-.936-1.969-.274-1.121-.726-2.211-1-3.332-.175-.709-.038-1.725-.217-2.18s-3.974-.013-5.955,0h-.019v0l-.011-.01v2.455l.011.008c-.006,3.256-.033,6.514,0,9.768h-21.33a3.543,3.543,0,0,1,2.3,2.738c0,.012,0,.024,0,.035h19.072a4.148,4.148,0,0,1,3.456-3.148,3.868,3.868,0,0,1,4.141,3.051c1.273.013,2.546.013,3.819.013,0-.533.015-1.078.015-1.609l-.7-.041Z' fill='%231a1818'/%3E%3Crect id='Ret창ngulo_4' data-name='Ret창ngulo 4' width='26.026' height='16.666' transform='translate(443.563 325.876)' fill='%231a1818'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                }

                &.support {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='59.433' height='59.431' viewBox='0 0 59.433 59.431'%3E%3Cg id='Grupo_24' data-name='Grupo 24' transform='translate(-430.631 -406.123)'%3E%3Cg id='Grupo_16' data-name='Grupo 16'%3E%3Cg id='Grupo_15' data-name='Grupo 15'%3E%3Cpath id='Caminho_19' data-name='Caminho 19' d='M490.064,435.838a29.716,29.716,0,1,1-29.716-29.715,29.716,29.716,0,0,1,29.716,29.715Z' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3Cg id='Grupo_18' data-name='Grupo 18'%3E%3Cg id='Grupo_17' data-name='Grupo 17'%3E%3Cpath id='Caminho_20' data-name='Caminho 20' d='M474.419,438.653l2.724-.619a15.332,15.332,0,0,0,.086-3.714l-2.7-.738a12.613,12.613,0,0,0-.393-1.608l2.047-1.9a15.592,15.592,0,0,0-1.787-3.258l-2.7.707a12.916,12.916,0,0,0-1.142-1.2l.825-2.664a15.372,15.372,0,0,0-3.178-1.927l-1.983,1.962q-.571-.207-1.173-.364c-.139-.035-.279-.065-.415-.1l-.618-2.723a15.345,15.345,0,0,0-3.715-.088l-.74,2.7a12.917,12.917,0,0,0-1.608.394l-1.895-2.048a15.5,15.5,0,0,0-3.259,1.787l.709,2.7a12.411,12.411,0,0,0-1.2,1.142l-2.666-.826a15.313,15.313,0,0,0-1.926,3.179l1.962,1.982c-.139.383-.261.773-.365,1.173-.036.14-.066.278-.1.416l-2.725.618a15.437,15.437,0,0,0-.087,3.714l2.7.738a13.047,13.047,0,0,0,.394,1.608l-2.047,1.9a15.541,15.541,0,0,0,1.787,3.258l2.7-.708a12.808,12.808,0,0,0,1.143,1.2l-.826,2.666a15.4,15.4,0,0,0,3.178,1.926l1.983-1.962c.382.137.772.261,1.174.365.138.036.277.064.415.1l.618,2.726a15.437,15.437,0,0,0,3.714.087l.739-2.7a13.194,13.194,0,0,0,1.608-.394l1.9,2.047a15.613,15.613,0,0,0,3.258-1.787l-.707-2.7a13.336,13.336,0,0,0,1.2-1.144l2.665.827a15.366,15.366,0,0,0,1.926-3.179l-1.961-1.984c.137-.382.262-.771.364-1.173C474.358,438.93,474.388,438.792,474.419,438.653Zm-12.6,4.394a7.208,7.208,0,1,1,7.208-7.209A7.209,7.209,0,0,1,461.819,443.047Z' fill='%231a1818'/%3E%3C/g%3E%3Cpath id='Caminho_21' data-name='Caminho 21' d='M465.605,435.839a3.786,3.786,0,1,1-3.786-3.787A3.786,3.786,0,0,1,465.605,435.839Z' fill='%231a1818'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");                
                }
            }
        }

        &-subItem {
            width: 100%;
            height: auto;
            margin-top: 8px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row-reverse;
            align-items: flex-end;
            transition: max-height 1s;
            overflow: hidden;
            max-height: 0;
            flex-wrap: wrap;

            .box {
                margin-top: 11px;
            }

            &.active {
                max-height: 300px;
            }
        }
    }
}

.helpers__content-subItem .box:nth-last-child(-n+2) {
    @media (max-width: 992px) {  
        padding-right: 5px;
        padding: 4px 5px;
        padding-left: 14px;
        display: flex;
        height: unset;
        min-width: 234px;

        p {
            display: block;
        }
    }
}

// Task-6229 Ocultando os bot천es flutuantes e deixando somente os bot천es precisa de ajuda e fale com especialista
body {
    .helpers__content-item {
        .box.btn-chat {
            display: none;
        }
    }

    .helpers__content-subItem {
        max-height: 300px;
        margin-top: 0px;

        .box {
            &:nth-of-type(1) {
                display: none;
            }
        }
    }
}